.calendar {
  display: grid;
  grid-template-columns: repeat(7, 14.28vw);
  text-align: center;
  grid-template-rows: calc(100vh - (90vh + $nav-height)) repeat(6, 15vh);

  &.week {
    grid-template-rows: calc(100vh - (90vh + $nav-height)) 90vh;
  }

  div {
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(141, 141, 141);
    border-top: 1px solid rgb(141, 141, 141);
    h3 {
      position: absolute;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
    ul {
      list-style: none;
      width: 100%;
      max-width: 680px;
      gap: 0.5rem;
      margin-top: 1.75rem;
      li {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 2px;
        flex-direction: column;
        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }

  &__fullappointment {
    position: absolute;
    width: 100%;
    height: calc(100vh - ($nav-height));
    z-index: 10;
    padding: 1rem;
    border: none;
    display: flex;
    div {
      border: none;
    }
    &__container {
      background: white;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      border-radius: 5px;
      width: 100%;
      max-width: 680px;
      padding: 1rem;
      flex-direction: column;
      align-self: flex-start;
      z-index: 11;
      &__header {
        position: relative;
        div {
          position: absolute;
          right: 1rem;
          display: flex;
          gap: 0.5rem;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          .control {
            position: absolute;
            right: 1rem;
            display: flex;
            gap: 1rem;
          }
        }
      }

      &__inside {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.calendar__date {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    button {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
  ul {
    margin-top: 1.75rem;
    list-style: none;
    width: 100%;
    max-width: 680px;
    li {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 2px;
      &:hover {
        background-color: $color-primary;
      }
      .control {
        position: absolute;
        right: 1rem;
        display: flex;
        gap: 1rem;
      }
    }
  }
}

.edit__appointment {
  display: flex;
  margin-top: $nav-height;
  background-color: blue;
  z-index: 19;
}
