@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

$nav-height: 56px;
$nav-offset: 6px;
$color-primary: tomato;
$color-secondary: teal;

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.relative {
  position: relative;
}

button {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(121, 121, 121);
  }
}

.container {
  height: calc(100vh - $nav-height);
  overflow: hidden;
}

.add__container {
  position: absolute;
  background-color: white;
  top: 0;
  z-index: 20;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 5px;
  max-width: 680px;
  width: 100%;
  .cancle {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    button {
      width: 100%;
      border-radius: 5px;
      &:hover {
        background-color: $color-primary;
      }
    }
  }
}

@import "nav";
@import "calendar";
