.nav {
  height: $nav-height;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 1rem;
  &__logo {
    .logo {
      position: relative;
    }
    display: flex;
    padding: 0 1rem;
    align-items: center;
    cursor: pointer;
  }

  &__popup {
    background-color: $color-secondary;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 280px;
    position: absolute;
    left: -280px;
    top: 0;
    height: 100vh;
    padding: $nav-offset 0;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
    z-index: 16;
    ul {
      list-style: none;
      .current {
        background-color: $color-primary;
      }
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        padding: 0.25rem 1rem;
        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }

  .auth {
    .cotinaer {
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      div {
        border-radius: 50%;
      }
    }
    button {
      width: 100%;
      text-align: start;
      border-radius: 0;
      padding: 0 1rem;
      &:hover {
        background-color: $color-primary;
      }
    }
  }

  &__show {
    left: 0;
  }

  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
